<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Classroom Options', admin_options_path %>
  <span> / </span>
  <%= link_to 'New option', new_admin_option_path %>
</div>

<div class="formContainer">
  <h1>Create new Option</h1>

  <%= render 'form', option: @option %>

</div>

<%= link_to admin_options_path do %>
  <div class="backButton">
    <p>Back</p>
  </div>
<% end %>