<h1>Admin page</h1>
<%= link_to 'Manage buildings', buildings_path %><br />
<%= link_to 'Manage classroom options', options_path %><br />
<%= link_to 'Manage devices', devices_path %><br />
<%= link_to 'Manage classrooms', classrooms_path %>