<div class="breadcrumbs">
  <a href="/admin/dashboard">Administrator Dashboard</a>
  <span> / </span>
  <%= link_to 'Buildings', admin_buildings_path %>
  <span> / </span>
  <%= link_to 'New building', new_admin_building_path %>
</div>

<div class="formContainer">
  <h1>Create a new building</h1>

  <%= render 'form', building: @building %>

  <%= link_to admin_buildings_path do %>
    <div class="backButton">
      <p>Back</p>
    </div>
  <% end %>
</div>