// Place all the styles related to the Classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

.classroomContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.classroomReservationContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.classroomBox {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  min-width: 270px;
  min-height: 200px;
  border-radius: 10px 10px 0px 0px;
  margin: 5px 5px;
}

.classroomHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CC0033;
  color: #FFF;
  text-align: center;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
}

.classroomHeader .title {
  font-size: 20px;
  font-weight: 600;
}

.classroomHeader .description {
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.classroomFree {
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  background-color: #018E42;
  padding: 0;
  margin: 0;
}

.classroomContent {
  color: #000;
  padding: 0px 20px;
}

.calendar {
  display: flex;
  flex-direction: row;
}

.dayColumn {
  display: flex;
  flex-direction: column;
}

.dayHeader {
  padding: 10px;
  background: #CC0033;
  color: #FFF;
  text-align: center;
  font-weight: 600;
  height: 35px;
  min-width: 100px;
}

.dayHourText {
  border: 1px solid #D3D3D3;
  height: 60px;
  padding: 10px;
}

.dayHour {
  border: 1px solid #D3D3D3;
  height: 60px;
  padding: 10px;
}

.reservation {
  margin-left: 50px;
}

.empty {
  cursor: pointer;
}

.empty:hover {
  background: #D3D3D3;
}

.start {
  color: #FFF;
  background: darkred;
  border-top: 1px solid darkred;
  border-left: 1px solid darkred;
  border-bottom: 1px solid darkred;
  cursor: default;
}

.busy {
  background: darkred;
  border-top: 1px solid darkred;
  border-left: 1px solid darkred;
  border-bottom: 1px solid darkred;
  cursor: default;
}

.end {
  background: darkred;
  border-top: 1px solid darkred;
  border-left: 1px solid darkred;
  cursor: default;
}

.myReservation {
  background: limegreen;
  border-color: limegreen;
  cursor: pointer;
}